body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  /* margin: 20px 0; */
  width: 100%;
  object-fit: scale-down;
  /* max-width: 200px; */
}

a {
  display: flex;
  height: 100%;
  width: 100%;
}

.preview-wrapper {
  width: 50%;
  display: flex;
  height: auto;
  justify-content: center;
}
